@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* typography */
    --primary-font: "Tajawal";
    --font-wt-reg: 400;
    --font-wt-bold: 500;
    /* colors  */
    --gold: goldenrod;
    --neutral-light: #FAF9F6;
    --neutral-white:#fffff4;
    --neutral-dark: #333;
    --gradient-bg: linear-gradient(
                    to left, 
                    var(--neutral-white), 
                    var(--neutral-light));
}

/* general  */
html, body {
    height: 100vh;
}

body {
    font-family: var(--primary-font);
    font-weight: var(--font-wt-reg);
    background: var(--gradient-bg);
    color: var(--neutral-dark);
}

a {
    color: var(--black);
}

a:hover,
a:focus,
a:active { 
    color: var(--gold);
}

/* heading  */
h1 {
    font-weight: var(--font-wt-bold); 
    font-size: 2.8rem;
    line-height: 5rem;
    text-align: center;
    color: var(--neutral-light);    
}

.hero-img {
    min-height: 271px;
    display: flex;
    align-items: end;
    background: no-repeat top left url("./assets/images/buddha-statue-gold-mobile-cropped.jpg");
}

.transparent-bg {
    width: 100%;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
}

/* timer  */
.container {
    margin-top: 8em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;    
}

.timer {
    font-size: 6rem;
}

/* buttons */
button {
    cursor: pointer;
    display: block;
    width: 5em;
    height: 5em;
    margin-top: 2em;
    border: none;
    border-radius: 100%;    
}

.stopped {    
    background:no-repeat center url("./assets/icons/play-circle.svg");
    background-color: var(--neutral-dark);
    color: var(--neutral-light);
}

.running {    
    background:no-repeat center url("./assets/icons/stop-circle.svg");
    background-color: var(--neutral-dark);
    color: var(--neutral-light);
}

button:hover,
button:focus {
    border: 3px solid var(--gold);
}

button:active {
    background-color: var(--gold);
}

/* footer  */
footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}


@media (min-width:448px) {
    .hero-img {
        min-height: 400px;
        background-image: url("./assets/images/buddha-statue-gold-cropped.jpg");
        background-size: cover;
    }

    .transparent-bg {
        padding: 2.5em;
    }

    .container {
        margin-top: 7em;
    }
}

@media (min-width:600px) {
    h1 {
        font-size: 4rem;        
    }
}

@media (max-height:800px) {
    .container {
        margin-top: auto;        
    }
}