* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* typography */
    --primary-font: "Tajawal", sans-serif;
    --font-wt-reg: 400;
    --font-wt-bold: 500;
    /* colors  */
    --gold: goldenrod;
    --neutral-light: #FAF9F6;
    --neutral-white:#fffff4;
    --neutral-dark: #333;
    --gradient-bg: linear-gradient(
                    to left, 
                    var(--neutral-white), 
                    var(--neutral-light)
                    );
}

/* general  */
body {
    font-family: var(--primary-font);
    font-weight: var(--font-wt-reg);
    background: var(--gradient-bg);
    color: var(--neutral-dark);
}

/* heading  */
h1 {
    font-weight: var(--font-wt-bold); 
    font-size: 2.5rem;
    text-align: center;
    color: var(--neutral-light);    
}

.heading-img-bg {
    min-height: 16.9em;
    display: flex;
    align-items: end;
    background: no-repeat top left url("./assets/images/buddha-statue-gold-mobile-cropped.jpg");
}

.transparent-bg {
    width: 100%;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
}

/* timer  */
.wrapper {    
    margin-top: 3em;
}

.timer {
    font-size: 6rem;
    text-align: center;
}

/* buttons */
.flex-container {
    width: 30%;
    max-width: 18em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

button {
    cursor: pointer;
    display: block;
    width: 5em;
    height: 5em;
    margin: 2em auto;
    flex-shrink: 0;
    border: none;
    border-radius: 100%;    
}

.stopped {    
    background:no-repeat center url("./assets/icons/play-circle.svg");
}

.running {    
    background:no-repeat center url("./assets/icons/stop-circle.svg"); 
}

.stopped, .running {
    background-color: var(--neutral-dark);
}

.add-time-btn {
    background:no-repeat center url("./assets/icons/plus.svg");
}

.subtract-time-btn {
    background:no-repeat center url("./assets/icons/subtract.svg");
}

.add-time-btn, .subtract-time-btn {
    width: 4em;
    height: 4em;
    background-color: var(--neutral-light);
}

button:hover,
button:focus {
    border: 3px solid var(--gold);
}

button:active {
    background-color: var(--gold);
}

@media (min-width:448px) {
    .heading-img-bg {
        min-height: 25em;
        background-image: url("./assets/images/buddha-statue-gold-cropped.jpg");
        background-size: cover;
    }

    .transparent-bg {
        padding: 2.5em;
    }
}

@media (min-width:600px) {
    h1 {
        font-size: 4rem;        
    }
}